<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info" monitorInterval="30">

<!-- https://www.loggly.com/blog/benchmarking-java-logging-frameworks/ -->

	<Properties>
		<Property name="logPath">C://0SYS//WORKSPACE//Plataforma2020//log</Property>
		<Property name="logSize">100MB</Property>
		<Property name="rollingFileName">RollingFile</Property>
		<Property name="consoleAppenderName">ConsoleAppender</Property>
		<Property name="serviceName">info7</Property>
		<Property name="packageName">rb.info7</Property>
		<Property name="LOG_PATTERN">
			[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%c:%L][%M] [${serviceName}]%notEmpty{[transactionId=%X{transactionId}]}%notEmpty{[%X{externalTransactionId=externalTransactionId}]}%notEmpty{[ipClient=%X{ipClient}]->}%notEmpty{ipServer=[%X{ipServer}]}%notEmpty{transactionTime=[%X{transactionTime}]}]} - %m%n
		</Property>
	</Properties>
	<Appenders>
		<Console name="${consoleAppenderName}" target="SYSTEM_OUT"
			follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<!-- Rolling File Appender -->
		<RollingFile name="${rollingFileName}"
			fileName="${logPath}/${serviceName}.log"
			filePattern="${logPath}/${serviceName}-%i.log"
			ignoreExceptions="false"
			bufferedIO="true">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy
					size="${logSize}" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
	</Appenders>

	<Loggers>
<!-- 		<AsyncLogger name="${packageName}" level="debug"
			includeLocation="false">
			<AppenderRef ref="${rollingFileName}" />
		</AsyncLogger>
		<AsyncLogger name="${packageName}" level="error"
			includeLocation="false">
			<AppenderRef ref="${rollingFileName}" />
		</AsyncLogger>
-->
		<AsyncLogger name="${packageName}" level="info"
			includeLocation="false">
			<AppenderRef ref="${rollingFileName}" />
		</AsyncLogger>  

		<Root level="info">
			<AppenderRef ref="${consoleAppenderName}" />
		</Root>

	</Loggers>
</Configuration>